body {
	background-color: blue;
}

#screen {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 20px;
	height: 600px;
	width: 1000px;
	background-color: #D2B48C;
	border: 1px solid black;
  overflow: hidden;
}

#P1 {
	position: absolute;
	display: inline-block;
	left: 250px;
	top: 400px;
	height: 40px;
	width: 25px;
	background-color: black;
}

#startS {
  height: 600px;
  width: 1000px;
  background-color: #40e0d0;
}

#startB {
  position: absolute;
  display: inline-block;
  left: 455px;
  top: 370px;
  height: 75px;
  width: 150px;
  text-align: center;
  font-size: 35px;
  padding-top: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

#stageS {
  height: 600px;
  width: 1000px;
  background-color: #000D40;
}

#stageB {
  position: absolute;
  display: inline-block;
  left: 300px;
  top: 220px;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 5px;
  background-color: gray;
  border: 1px solid black;
}
